.header-bg {
    background-image: url('./general-knowledge.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.quiz-card {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;

    /* display: flex;
    flex-wrap: wrap; */
}

@media screen and (max-width: 576px) {
    .quiz-card {
        display: grid;
        grid-template-columns: auto;
        gap: 10px;

    }
}

@media screen and (min-width: 578px) and (max-width: 1020px) {
    .quiz-card {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;

    }
}